*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
.app {
  background-color: #e1fdff;
  width: 100%;
  /* height: 100vh; */
}
.header {
  background-color: #defff7;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 9999;
}
.header-main {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  padding: 5px;
}

.header__nav {
  display: flex;
}
.header__nav-ul {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header__nav-li {
  list-style: none;

  font-weight: 600;
  line-height: 25px;
}
.header__nav-item {
  color: var(--text-color);
  text-decoration: none;
  /* text-transform: uppercase ; */
  letter-spacing: 0.5px;
  position: relative;
  padding: 0 auto;
}
.header__nav-item:after {
  content: "";
  position: absolute;
  background-color: #024c62;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}
.header__nav-item:hover:after {
  width: 100%;
}
.header__nav-item:hover {
  color: #056e8e;
}
/* .header__nav-item:hover {
        border-bottom: 3px solid #024c62;
        transition: all 0.15s linear;
        transform: translateX(0);
      } */

.header__right {
  display: flex;
  align-items: center;
}
.header__right-user {
  margin-right: 10px;
}
.header__right-icon {
  font-size: 22px;
  color: var(--text-color);
}
.content__header {
  width: 100%;
  background-color: #97e8ff;
}
.content__header-span {
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
  font-size: 1.6rem;
  line-height: 24px;
  font-weight: 500;
}
.content__header-h3 {
  font-weight: 700;
  margin: 0 10px;
}
.member {
  margin-top: 2rem;
  width: 100%;
  background: linear-gradient(
    179.57deg,
    #8bebee 0.37%,
    rgba(151, 232, 255, 0) 106.24%
  );
}
.member__container {
  text-align: center;
  padding: 48px 150px;
}
.member__title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.member__title-content {
  font-weight: 700;
  font-size: 4rem;
  line-height: 48px;

  color: var(--text-color);
}
.member__title-img {
  margin-left: 1rem;
  flex-shrink: 0;
  object-fit: cover;
}
.member__title-slogan {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 24px;
  color: var(--text-color);
  padding: 18px 0 26px 0;
}
.member__btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.member__link {
  text-decoration: none;
}
.member__btn {
  padding: 8px 35px;
  background: var(--boder-color);
  border-radius: 15px;
  color: var(--white-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
  /* transition: all 0.3s ease-in-out 0s; */
}
.member__btn:hover {
  box-shadow: 0 0 10px 0 #69e3d9 inset, 0 0 10px 4px #69e3d9;
  background: var(--white-color);
  color: var(--black-color);
  animation: memberhover 0.4s 1 ease-in; /* forwards infinite*/
}
@keyframes memberhover {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(0);
  }
}
.member__btn-signup {
  padding: 8px 35px;
  background: var(--white-color);
  border-radius: 15px;
  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
  /* transition: all 0.3s ease-in-out 0s; */
}
.member__btn-signup:hover {
  box-shadow: 0 0 10px 0 #69e3d9 inset, 0 0 10px 4px #69e3d9;
  background: var(--boder-color);
  color: var(--text-color);
  animation: memberhover 0.4s 1 ease-in; /* forwards infinite */
}
/*footer*/

.footer__header {
  background: #00454a;
}
.footer__header_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 3rem 0;
  grid-gap: 2rem;
}
.footer__header-link {
  text-decoration: none;
  color: var(--white-color);
}
.footer__header-text {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 27px;
  letter-spacing: -0.045em;
}
.footer__header-h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 27px;
  letter-spacing: -0.045em;
}
.footer__header-span {
  display: block;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 27px;
  letter-spacing: -0.075em;
  color: rgba(255, 255, 255, 0.75);
}
.footer__header_items_icon {
  display: flex;
  gap: 10px;
}

.footer__header_icon {
  color: #00454a;
  font-size: 1.8rem;
  padding: 1rem;
  background-color: #ffff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
}
.footer__header_icon:hover {
  box-shadow: 0 0 10px 0 #69e3d9 inset, 0 0 10px 4px #69e3d9;
}
.footer__footer {
  background: #006f75;
}
.footer__footer__content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 20px 0;
}
.footer__location {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 24px;
  display: flex;
  gap: 10px;
}
.footer__location-icon {
  color: var(--white-color);
}
.footer__location-text {
  color: var(--white-color);
}
.footer__slogan {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 24px;
  color: var(--white-color);
}
